.form {

   &__header {
      padding: 0 104px 16px 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 1200px) {
         padding-right: 95px;
         padding-left: 25px;
      }

      @media screen and (max-width: 1150px) {
         padding-right: 90px;
      }

      @media screen and (max-width: 1100px) {
         padding-right: 85px;
         padding-left: 20px;
      }

      @media screen and (max-width: 1050px) {
         padding-right: 80px;
      }

      @media screen and (max-width: 1000px) {
         padding-right: 75px;
      }

      @media screen and (max-width: 950px) {
         padding-right: 70px;
      }

      @media screen and (max-width: 900px) {
         padding-right: 65px;
         padding-left: 15px;
      }

      @media screen and (max-width: 850px) {
         padding-right: 60px;
      }

      @media screen and (max-width: 800px) {
         padding-right: 55px;
         padding-left: 10px;
      }

      @media screen and (max-width: 750px) {
         padding-right: 50px;
      }

      @media screen and (max-width: 700px) {
         padding-right: 40px;
         padding-left: 5px;
      }

      @media screen and (max-width: 650px) {
         padding-right: 30px;
      }

      @media screen and (max-width: 600px) {
         padding-right: 20px;
         padding-left: 0px;
      }

      @media screen and (max-width: 550px) {
         padding-right: 10px;
      }

      @media screen and (max-width: 500px) {
         padding-right: 0px;
      }

      &_label {
         position: relative;
         padding-left: 83px;
         font-weight: 700;
         font-size: 18px;
         line-height: 150%;
         color: #225B51;
         display: flex;
         align-items: center;
         cursor: pointer;

         @media screen and (max-width: 1100px) {
            padding-left: 70px;
         }

         @media screen and (max-width: 1000px) {
            padding-left: 60px;
         }

         @media screen and (max-width: 900px) {
            padding-left: 50px;
         }

         @media screen and (max-width: 800px) {
            padding-left: 40px;
         }

         @media screen and (max-width: 700px) {
            padding-left: 30px;
            font-size: 16px;
         }

         @media screen and (max-width: 600px) {
            padding-left: 25px;
         }

         @media screen and (max-width: 425px) {
            font-size: 14px;
         }
      }

      &_valuta {
         font-weight: 700;
         font-size: 18px;
         line-height: 150%;
         color: #225B51;

         @media screen and (max-width: 700px) {
            font-size: 16px;
         }

         @media screen and (max-width: 425px) {
            font-size: 14px;
         }
      }

      .header-checked {
         border: 1px solid #949699;
         border-radius: 3px;
      }
   }

   &__items {
      border-top: 2px solid #225B51;
      border-bottom: 2px solid #225B51;
   }

   &__item {
      padding: 19px 146px 19px 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #E0E0E0;

      @media screen and (max-width: 1200px) {
         padding-right: 130px;
         padding-left: 25px;
      }

      @media screen and (max-width: 1150px) {
         padding-right: 120px;
      }

      @media screen and (max-width: 1100px) {
         padding-right: 110px;
         padding-left: 20px;
      }

      @media screen and (max-width: 1050px) {
         padding-right: 100px;
      }

      @media screen and (max-width: 1000px) {
         padding-right: 90px;
      }

      @media screen and (max-width: 950px) {
         padding-right: 80px;
      }

      @media screen and (max-width: 900px) {
         padding-right: 70px;
         padding-left: 15px;
      }

      @media screen and (max-width: 850px) {
         padding-right: 60px;
      }

      @media screen and (max-width: 800px) {
         padding-right: 50px;
         padding-left: 10px;
      }

      @media screen and (max-width: 750px) {
         padding-right: 40px;
      }

      @media screen and (max-width: 700px) {
         padding-right: 30px;
         padding-left: 5px;
      }

      @media screen and (max-width: 650px) {
         padding-right: 20px;
      }

      @media screen and (max-width: 600px) {
         padding-right: 10px;
         padding-left: 0px;
      }

      @media screen and (max-width: 550px) {
         padding-right: 5px;
      }

      @media screen and (max-width: 500px) {
         padding-right: 0px;
      }

      &:last-child {
         border-bottom: none;
      }

      &_densitometry {
         display: flex;
         align-items: center;
         grid-gap: 16px;

         @media screen and (max-width: 500px) {
            grid-gap: 8px;
         }
      }

      &_label {
         position: relative;
         padding-left: 83px;
         font-size: 14px;
         line-height: 26px;
         display: flex;
         align-items: center;
         cursor: pointer;

         @media screen and (max-width: 1100px) {
            padding-left: 70px;
         }

         @media screen and (max-width: 1000px) {
            padding-left: 60px;
         }

         @media screen and (max-width: 900px) {
            padding-left: 50px;
         }

         @media screen and (max-width: 800px) {
            padding-left: 40px;
         }

         @media screen and (max-width: 700px) {
            padding-left: 30px;
            font-size: 12px;
         }

         @media screen and (max-width: 600px) {
            padding-left: 25px;
         }

         @media screen and (max-width: 425px) {
            font-size: 10px;
         }
      }

      &_info {
         display: block;
         position: relative;
         width: 24px;
         height: 24px;
         background: #D8F8D9;
         border-radius: 50%;
         cursor: pointer;

         @media screen and (max-width: 425px) {
            width: 18px;
            height: 18px;
         }

         &::after {
            content: '?';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 14px;

            @media screen and (max-width: 425px) {
               & {
                  font-size: 10px;
               }
            }
         }

         &:hover {
            background: #225B51;
            color: #D8F8D9;

            .info-menu {
               display: flex;
            }
         }

         .info-menu {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 32px;
            left: 0;
            width: 247px;
            max-width: 247px;
            padding: 9px 12px;
            background: #FFFFFF;
            box-shadow: 20px 5px 45px rgba(0, 0, 0, 0.07);
            cursor: default;
            display: none;

            @media screen and (max-width: 500px) {
               left: -150px;
               z-index: 99;
            }

            &__desc {
               text-align: left;
            }

            &__text {
               display: block;
               font-size: 12px;
               line-height: 19px;
               color: #225B51;
            }
         }
      }

      &_price {
         font-size: 14px;
         line-height: 26px;

         @media screen and (max-width: 700px) {
            font-size: 12px;
         }
      }
   }

   &__inp {
      display: none;
   }

   // ***** checked *****
   &__inp:checked+.checked::after,
   &__inp:checked+.checked::before {
      display: block;
   }

   &__inp:checked+.checked {
      background: #88BD6F;
   }

   .checked {
      position: absolute;
      left: 0;
      width: 18px;
      height: 18px;
      background: #F2F2F2;
      border-radius: 3px;

      @media screen and (max-width: 425px) {
         width: 14px;
         height: 14px;
      }

      &::after {
         content: '';
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         width: 2px;
         height: 10px;
         background: #fff;
         display: none;

         @media screen and (max-width: 425px) {
            height: 8px;
         }
      }

      &::before {
         content: '';
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         width: 10px;
         height: 2px;
         background: #fff;
         display: none;

         @media screen and (max-width: 425px) {
            width: 8px;
         }
      }
   }

   // **********

   &__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;

      &_desc {
         display: flex;
         grid-gap: 70px;

         @media screen and (max-width: 800px) {
            grid-gap: 60px;
         }

         @media screen and (max-width: 700px) {
            grid-gap: 50px;
         }

         @media screen and (max-width: 600px) {
            grid-gap: 40px;
         }

         @media screen and (max-width: 500px) {
            grid-gap: 30px;
         }

         @media screen and (max-width: 425px) {
            grid-gap: 0px;
            flex-direction: column;
         }
      }

      &_text {
         display: inline-block;
         font-size: 14px;
         line-height: 26px;

         @media screen and (max-width: 425px) {
            font-size: 12px;
         }
      }

      &_price {
         display: inline-block;
         padding-left: 12px;
         font-weight: 700;
         font-size: 18px;
         line-height: 150%;

         @media screen and (max-width: 500px) {
            padding-left: 5px;
         }

         @media screen and (max-width: 700px) {
            font-size: 16px;
         }

         @media screen and (max-width: 425px) {
            font-size: 15px;
         }
      }

      &_count {
         display: inline-block;
         padding-left: 12px;
         font-weight: 700;
         font-size: 18px;
         line-height: 150%;

         @media screen and (max-width: 500px) {
            padding-left: 5px;
         }

         @media screen and (max-width: 700px) {
            font-size: 16px;
         }

         @media screen and (max-width: 425px) {
            font-size: 15px;
         }
      }

      &_btn {
         display: block;
         width: 100%;
         max-width: 188px;
         padding: 13px 10px;
         border: 1px solid #252628;
         border-radius: 32px;
         text-align: center;
         font-weight: 600;
         font-size: 12px;
         line-height: 20px;
         letter-spacing: 0.05em;
         text-transform: uppercase;

         @media screen and (max-width: 1024px) {
            max-width: 170px;
         }

         @media screen and (max-width: 900px) {
            max-width: 155px;
         }

         @media screen and (max-width: 800px) {
            max-width: 140px;
            padding: 11px 10px;
         }

         @media screen and (max-width: 700px) {
            max-width: 125px;
         }

         @media screen and (max-width: 600px) {
            max-width: 115px;
            padding: 9px 10px;
            font-size: 10px;
         }

         @media screen and (max-width: 500px) {
            max-width: 105px;
         }

         @media screen and (max-width: 425px) {
            height: 40px;
         }

         &:hover {
            background: #252628;
            color: #FFFFFF;
         }

         &:active {
            color: #D8F8D9;
         }
      }
   }
}