.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #25262820;
    z-index: 1093;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    visibility: hidden;
    opacity: 0;

    &.active {
        visibility: visible;
        opacity: 1;
        transition: .3s;
    }

    &.active &__content {
        top: 0;
        transition: .3s;
    }

    &__content {
        padding: 64px 80px;
        background: #fff;
        max-width: 660px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 18px 30px;
        position: relative;
        top: -100vh;
        transition: .3s;

        @media screen and (max-width: 800px) {
            padding: 50px 60px;
        }

        @media screen and (max-width: 700px) {
            padding: 40px 50px;
        }

        @media screen and (max-width: 580px) {
            padding: 40px 40px 30px 20px;
            grid-gap: 10px 0px;
        }
    }

    &__title {
        grid-column: 1 / 3;
        margin-bottom: 18px;
        font-weight: 500;
        font-size: 30px;
        line-height: 150%;
        text-transform: uppercase;
        color: #252628;

        @media screen and (max-width: 900px) {
            font-size: 27px;
        }

        @media screen and (max-width: 800px) {
            font-size: 24px;
        }

        @media screen and (max-width: 700px) {
            font-size: 22px;
            margin-bottom: 10px;
        }

        @media screen and (max-width: 580px) {
            font-size: 20px;
            margin-bottom: 0px;
        }
    }

    &__inp,
    &__select select,
    &__lab_inp {
        width: 100%;
        grid-column: 1 / 3;
        font-size: 14px;
        line-height: 180%;
        color: #252628;
        padding: 12px 0;
        border-bottom: 1px solid #252628;

        @media screen and (max-width: 580px) {
            padding: 6px 0;
            line-height: 160%;
        }

        &::placeholder {
            font-size: 14px;
            line-height: 180%;
            color: #252628;
        }
    }

    &__lab {
        display: block;
        width: 100%;
        position: relative;

        @media screen and (max-width: 580px) {
            grid-column: 1 / 3;
        }

        &_icon {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }
    }

    &__select {
        grid-column: 1 / 3;
        position: relative;

        option:first-child {
            display: none;
        }
    }

    &__close {
        position: absolute;
        top: 48px;
        right: 48px;

        @media screen and (max-width: 580px) {
            top: 10px;
            right: 30px;
            width: 20px;
            height: 20px;
        }

        &_icon {
            display: block;
            width: 100%;
        }
    }

    &__footer {
        margin-top: 18px;
        grid-column: 1 / 3;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;

        @media screen and (max-width: 580px) {
            grid-template-columns: 1fr;
            grid-gap: 15px;
            margin-top: 12px;
        }

        &_send {
            max-width: 235px;
            display: flex;
            align-items: center;
            grid-gap: 16px;
            padding: 5px 25px 5px 5px;
            background: #252628;
            border-radius: 37px;
            position: relative;
            font-weight: 600;
            font-size: 13px;
            line-height: 160%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: left;

            @media screen and (max-width: 580px) {
                max-width: 180px;
                grid-gap: 10px;
                font-size: 12px;
            }

            &::before {
                content: '';
                display: block;
                min-width: 64px;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                background: #fff;
                transition: .2s;

                @media screen and (max-width: 580px) {
                    min-width: 50px;
                    width: 50px;
                    height: 50px;
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 31px;
                width: 12px;
                height: 12px;
                background: #252628;
                clip-path: polygon(0px 42%, 0px 58%, 42% 58%, 42% 100%, 42% 58%, 42% 100%, 58% 100%, 58% 58%, 100% 58%, 100% 42%, 58% 42%, 58% 0px, 42% 0px, 42% 42%);
                transform: translate(0, -50%);
                transition: .1s;

                @media screen and (max-width: 580px) {
                    left: 24px;
                }
            }

            &:hover {
                &::before {
                    transition: .2s;
                    background: #88BD6F;
                }
            }

            &:active {
                &::after {
                    width: 20px;
                    height: 20px;
                    left: 27px;
                    transition: .1s;

                    @media screen and (max-width: 580px) {
                        width: 18px;
                        height: 18px;
                        left: 25px;
                    }
                }
            }
        }

        &_text {
            font-size: 12px;
            line-height: 160%;
            color: #949699;
        }
    }
}