.navbar {
  z-index: 1090;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
@media screen and (max-width: 640px) {
  .navbar {
    padding-bottom: 89px;
  }
}
.navbar__content {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 15px 15px 0;
}
@media screen and (max-width: 640px) {
  .navbar__content {
    padding: 8px 12px 0;
  }
}
.navbar__search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  background: rgba(37, 38, 40, 0.1254901961);
}
.navbar__search.active {
  max-height: 100vh;
  transition: 0.3s;
  opacity: 1;
}
.navbar__search_content {
  width: 100%;
  padding: 120px 285px;
  background: #fff;
  position: relative;
  z-index: 1092;
}
@media screen and (max-width: 1200px) {
  .navbar__search_content {
    padding: 120px 250px;
  }
}
@media screen and (max-width: 1100px) {
  .navbar__search_content {
    padding: 100px 210px;
  }
}
@media screen and (max-width: 1000px) {
  .navbar__search_content {
    padding: 80px 170px;
  }
}
@media screen and (max-width: 900px) {
  .navbar__search_content {
    padding: 70px 120px;
  }
}
@media screen and (max-width: 800px) {
  .navbar__search_content {
    padding: 60px 70px;
  }
}
@media screen and (max-width: 700px) {
  .navbar__search_content {
    padding: 50px 40px;
  }
}
@media screen and (max-width: 580px) {
  .navbar__search_content {
    padding: 40px 20px 30px;
  }
}
.navbar__search_btn {
  position: absolute;
  right: 130px;
  top: 50%;
  transform: translate(0, -50%);
}
@media screen and (max-width: 1200px) {
  .navbar__search_btn {
    right: 110px;
  }
}
@media screen and (max-width: 1100px) {
  .navbar__search_btn {
    right: 90px;
  }
}
@media screen and (max-width: 1000px) {
  .navbar__search_btn {
    right: 80px;
  }
}
@media screen and (max-width: 900px) {
  .navbar__search_btn {
    right: 60px;
  }
}
@media screen and (max-width: 800px) {
  .navbar__search_btn {
    right: 20px;
    top: 15%;
    width: 16px;
    height: 16px;
  }
}
@media screen and (max-width: 580px) {
  .navbar__search_btn {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 800px) {
  .navbar__search_btn_icon {
    display: block;
    width: 100%;
  }
}
.navbar__search_lab {
  position: relative;
}
.navbar__search_lab_inp {
  display: block;
  width: 100%;
  padding: 0 25px 20px 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  color: #252628;
  border-bottom: 1px solid #252628;
}
@media screen and (max-width: 700px) {
  .navbar__search_lab_inp {
    padding: 0 25px 5px 0;
    font-size: 18px;
  }
}
.navbar__search_lab_inp::-webkit-search-decoration, .navbar__search_lab_inp::-webkit-search-cancel-button, .navbar__search_lab_inp::-webkit-search-results-button, .navbar__search_lab_inp::-webkit-search-results-decoration {
  display: none;
}
.navbar__search_lab_btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
@media screen and (max-width: 700px) {
  .navbar__search_lab_btn {
    width: 15px;
    height: 15px;
    top: 0;
    transform: translate(0, 0);
  }
}
.navbar__search_lab_btn_icon {
  display: block;
  width: 100%;
}
.navbar__sets {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
  padding-bottom: 18px;
}
@media screen and (max-width: 860px) {
  .navbar__sets {
    padding-bottom: 0;
  }
}
.navbar__sets_logo {
  display: flex;
  align-items: center;
  grid-gap: 18px;
}
@media screen and (max-width: 640px) {
  .navbar__sets_logo {
    width: 41px;
    height: 40px;
  }
}
.navbar__sets_logo_img {
  display: block;
}
@media screen and (max-width: 640px) {
  .navbar__sets_logo_img {
    width: 100%;
  }
}
.navbar__sets_logo_text {
  max-width: 133px;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  text-transform: uppercase;
}
@media screen and (max-width: 980px) {
  .navbar__sets_logo_text {
    display: none;
  }
}
.navbar__sets_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 60px;
}
@media screen and (max-width: 1200px) {
  .navbar__sets_content {
    grid-gap: 50px;
  }
}
@media screen and (max-width: 1180px) {
  .navbar__sets_content {
    grid-gap: 40px;
  }
}
@media screen and (max-width: 1160px) {
  .navbar__sets_content {
    grid-gap: 30px;
  }
}
@media screen and (max-width: 1140px) {
  .navbar__sets_content {
    grid-gap: 20px;
  }
}
@media screen and (max-width: 1120px) {
  .navbar__sets_content {
    grid-gap: 15px;
  }
}
@media screen and (max-width: 640px) {
  .navbar__sets_content {
    grid-gap: 24px;
  }
}
.navbar__sets_contact_phone {
  display: block;
  text-align: right;
}
.navbar__sets_contact_phone .phone-number {
  display: inline-block;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
@media screen and (max-width: 860px) {
  .navbar__sets_contact_phone .phone-number {
    display: none;
  }
}
.navbar__sets_contact_phone .phone-icon {
  width: 20px;
  height: 20px;
  display: none;
}
@media screen and (max-width: 860px) {
  .navbar__sets_contact_phone .phone-icon {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  .navbar__sets_contact_phone .phone-icon {
    margin-right: 0;
  }
}
.navbar__sets_contact_workTime {
  font-size: 14px;
  line-height: 26px;
}
@media screen and (max-width: 860px) {
  .navbar__sets_contact_workTime {
    display: none;
  }
}
.navbar__sets_links {
  display: flex;
  grid-gap: 60px;
}
@media screen and (max-width: 1200px) {
  .navbar__sets_links {
    grid-gap: 50px;
  }
}
@media screen and (max-width: 1180px) {
  .navbar__sets_links {
    grid-gap: 40px;
  }
}
@media screen and (max-width: 1160px) {
  .navbar__sets_links {
    grid-gap: 30px;
  }
}
@media screen and (max-width: 1140px) {
  .navbar__sets_links {
    grid-gap: 20px;
  }
}
@media screen and (max-width: 1120px) {
  .navbar__sets_links {
    grid-gap: 15px;
  }
}
@media screen and (max-width: 860px) {
  .navbar__sets_links {
    order: -1;
  }
}
@media screen and (max-width: 640px) {
  .navbar__sets_links {
    padding: 0 12px;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    justify-content: center;
    grid-gap: 12px;
  }
}
.navbar__sets_diagnostic {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  font-size: 12px;
  line-height: 19px;
  color: #88BD6F;
  text-transform: uppercase;
  text-align: left;
  max-width: 160px;
  position: relative;
  font-weight: 600;
}
@media screen and (max-width: 1120px) {
  .navbar__sets_diagnostic {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 640px) {
  .navbar__sets_diagnostic {
    width: 100%;
    max-width: 142px;
    padding: 7px 22px;
    background: #88BD6F;
    color: #252628;
    letter-spacing: 0.05em;
    font-size: 11px;
    line-height: 140%;
  }
}
.navbar__sets_diagnostic::before {
  content: "";
  display: block;
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #88BD6F;
  transition: 0.2s;
}
.navbar__sets_diagnostic::after {
  content: "";
  display: block;
  border-radius: 50%;
  border: 6px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
  transition: 0.2s;
}
.navbar__sets_diagnostic:hover::after {
  border: 4px solid #fff;
  width: 12px;
  height: 12px;
  transform: 0.2s;
  left: 14px;
}
.navbar__sets_diagnostic:focus::after {
  background: #225B51;
  transform: 0.2s;
}
.navbar__sets_appointment {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  font-size: 12px;
  line-height: 19px;
  color: #252628;
  text-transform: uppercase;
  text-align: left;
  max-width: 140px;
  position: relative;
  font-weight: 600;
}
@media screen and (max-width: 1120px) {
  .navbar__sets_appointment {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 640px) {
  .navbar__sets_appointment {
    width: 100%;
    max-width: 142px;
    padding: 7px 22px;
    background: #252628;
    color: #fff;
    letter-spacing: 0.05em;
    font-size: 11px;
    line-height: 140%;
  }
}
.navbar__sets_appointment::before {
  content: "";
  display: block;
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #252628;
  transition: 0.2s;
}
.navbar__sets_appointment::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 18px;
  width: 12px;
  height: 12px;
  background: #fff;
  -webkit-clip-path: polygon(0px 42%, 0px 58%, 42% 58%, 42% 100%, 42% 58%, 42% 100%, 58% 100%, 58% 58%, 100% 58%, 100% 42%, 58% 42%, 58% 0px, 42% 0px, 42% 42%);
          clip-path: polygon(0px 42%, 0px 58%, 42% 58%, 42% 100%, 42% 58%, 42% 100%, 58% 100%, 58% 58%, 100% 58%, 100% 42%, 58% 42%, 58% 0px, 42% 0px, 42% 42%);
  transform: translate(0, -50%);
  transition: 0.2s;
}
.navbar__sets_appointment:hover::after {
  width: 20px;
  height: 20px;
  left: 14px;
  transform: 0.2s;
}
.navbar__sets_appointment:active::after {
  background: #88BD6F;
  transform: 0.2s;
}
@media screen and (max-width: 640px) {
  .navbar__sets_diagnostic::before, .navbar__sets_diagnostic::after, .navbar__sets_appointment::before, .navbar__sets_appointment::after {
    display: none;
  }
}
.navbar__sets_user {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 12px;
  align-items: center;
}
.navbar__sets_user_icon {
  grid-row: 1/3;
}
.navbar__sets_user_login {
  display: block;
  font-size: 14px;
  line-height: 160%;
  color: #252628;
  text-align: left;
}
@media screen and (max-width: 720px) {
  .navbar__sets_user_login {
    display: none;
  }
}
.navbar__sets_user_registration {
  display: block;
  font-size: 12px;
  line-height: 160%;
  color: #949699;
  text-align: left;
}
@media screen and (max-width: 720px) {
  .navbar__sets_user_registration {
    display: none;
  }
}
.navbar__footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  grid-gap: 30px;
}
@media screen and (max-width: 1140px) {
  .navbar__footer {
    grid-gap: 20px;
  }
}
@media screen and (max-width: 980px) {
  .navbar__footer {
    grid-gap: 15px;
  }
}
@media screen and (max-width: 640px) {
  .navbar__footer {
    position: absolute;
    bottom: 0;
    padding-right: 25px;
    justify-content: center;
  }
}
.navbar__footer_content {
  width: 100%;
}
@media screen and (max-width: 860px) {
  .navbar__footer_content {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 380px;
    height: 100%;
    padding: 40px 12px 20px;
    background: #fff;
    overflow-y: auto;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s linear;
    z-index: 999;
  }
}
.navbar__footer_content .burger-closeBtn {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 16px;
  height: 16px;
  display: none;
}
@media screen and (max-width: 860px) {
  .navbar__footer_content .burger-closeBtn {
    display: block;
  }
}
.navbar__footer_content .burger-closeBtn__icon {
  display: block;
  width: 100%;
}
@media screen and (max-width: 860px) {
  .navbar__footer_burger-menu {
    overflow-y: auto;
    height: 100%;
  }
}
.navbar .telemedicine {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
@media screen and (max-width: 640px) {
  .navbar .telemedicine {
    padding-bottom: 10px;
    line-height: 18px;
  }
}
.navbar .telemedicine_text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
@media screen and (max-width: 1140px) {
  .navbar .telemedicine_text {
    font-size: 13px;
  }
}
@media screen and (max-width: 980px) {
  .navbar .telemedicine_text {
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
  .navbar .telemedicine_text {
    font-size: 11px;
  }
}
.navbar .telemedicine_tvText {
  width: 22px;
  height: 14px;
  padding: 1px 2px;
  text-align: center;
  background: #252628;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 13px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  grid-gap: 30px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media screen and (max-width: 1140px) {
  .navbar__menu {
    grid-gap: 20px;
  }
}
@media screen and (max-width: 980px) {
  .navbar__menu {
    grid-gap: 15px;
  }
}
@media screen and (max-width: 860px) {
  .navbar__menu {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    max-width: 100%;
    grid-gap: 0;
  }
}
.burger:hover .navbar__menu_link::after {
  background: #88BD6F;
  transition: 0.2s;
}
.burger:hover .navbar__menu_link::before {
  transition: 0.2s;
  width: 50%;
}
@media screen and (max-width: 860px) {
  .navbar__menu .burger {
    width: 100%;
  }
  .navbar__menu .burger.active .about__dropdown {
    display: grid;
  }
  .navbar__menu .burger.active .services__dropdown {
    display: flex;
  }
  .navbar__menu .burger.active .navbar__menu_link::after {
    background: #88BD6F;
    transition: 0.2s;
  }
  .navbar__menu .burger.active .navbar__menu_link::before {
    width: 30px;
  }
  .navbar__menu .burger:hover .navbar__menu_link::before {
    width: 30px;
  }
}
.burger .navbar__menu_link {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  position: relative;
}
.burger .navbar__menu_link::after {
  content: "";
  display: block;
  width: 10px;
  height: 7px;
  background: #252628;
  border-radius: 1px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
  transition: 0.2s;
}
.burger .navbar__menu_link::before {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #252628;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s;
}
@media screen and (min-width: 861px) {
  .burger:hover .navbar__menu_dropdown {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
  }
  .navbar__menu_dropdown {
    position: absolute;
    top: 32px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
  }
}
.navbar__menu .about__dropdown {
  display: grid;
  grid-gap: 12px;
  box-shadow: 20px 5px 45px rgba(0, 0, 0, 0.05);
  padding: 24px 82px 24px 32px;
  background: #fff;
}
@media screen and (max-width: 860px) {
  .navbar__menu .about__dropdown {
    padding: 10px 10px 20px;
    grid-gap: 8px;
    box-shadow: none;
    display: none;
  }
}
.navbar__menu .about__dropdown_link {
  font-size: 14px;
  line-height: 25px;
  color: #000;
  transition: 0.2s;
}
.navbar__menu .about__dropdown_link:hover {
  color: #88BD6F;
}
.navbar__menu .services__dropdown {
  display: flex;
  right: 0;
  background: #fff;
  width: 100%;
  max-width: 1350px;
}
@media screen and (max-width: 860px) {
  .navbar__menu .services__dropdown {
    display: none;
  }
}
.navbar__menu .services__dropdown_item {
  width: 100%;
  max-width: 345px;
}
@media screen and (max-width: 1350px) {
  .navbar__menu .services__dropdown_item {
    max-width: 300px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar__menu .services__dropdown_item {
    max-width: 250px;
  }
}
@media screen and (max-width: 1100px) {
  .navbar__menu .services__dropdown_item {
    max-width: 200px;
  }
}
@media screen and (max-width: 860px) {
  .navbar__menu .services__dropdown_item {
    max-width: 100%;
    margin: 10px 0;
  }
}
.navbar__menu .services__dropdown_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #252628;
  transition: 0.2s;
  border-top: 1px solid #E0E0E0;
  width: 100%;
  max-width: 345px;
  margin-top: -1px;
}
@media screen and (max-width: 1200px) {
  .navbar__menu .services__dropdown_btn {
    padding: 20px 15px;
  }
}
@media screen and (max-width: 860px) {
  .navbar__menu .services__dropdown_btn {
    position: relative;
    padding: 10px 0px 10px 5px;
    font-size: 14px;
    margin-top: 0;
  }
  .navbar__menu .services__dropdown_btn::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    background-image: url("../../images/accordionArrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
  }
  .navbar__menu .services__dropdown_btn:last-child {
    border-bottom: 1px solid #E0E0E0;
  }
}
.navbar__menu .services__dropdown_btn:hover, .navbar__menu .services__dropdown_btn.active {
  transition: 0.2s;
  color: #88BD6F;
}
.navbar__menu .services__dropdown_item {
  border-right: 1px solid #E0E0E0;
}
@media screen and (max-width: 860px) {
  .navbar__menu .services__dropdown_item {
    border-right: none;
  }
}
.navbar__menu .services__dropdown_tab {
  display: none;
  flex-wrap: wrap;
  grid-gap: 12px 50px;
  padding: 30px 48px;
  width: 100%;
  max-width: 1005px;
}
@media screen and (max-width: 1350px) {
  .navbar__menu .services__dropdown_tab {
    padding: 20px 30px;
    grid-gap: 12px 20px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar__menu .services__dropdown_tab {
    padding: 20px 15px;
  }
}
@media screen and (max-width: 860px) {
  .navbar__menu .services__dropdown_tab {
    display: unset;
    padding: 20px 12px 10px;
    position: absolute;
    left: -100%;
    width: 100%;
    max-width: 380px;
    background: #fff;
    flex-direction: column;
    grid-gap: 0;
    transition: 0.3s linear;
  }
}
.navbar__menu .services__dropdown_tab.active {
  display: flex;
  justify-content: space-between;
}
.navbar__menu .services__dropdown_tab_arrowBtn {
  position: absolute;
  top: -8px;
  right: 30px;
  width: 18px;
  height: 30px;
  transform: rotate(-90deg);
  display: none;
}
@media screen and (max-width: 860px) {
  .navbar__menu .services__dropdown_tab_arrowBtn {
    display: block;
  }
}
.navbar__menu .services__dropdown_tab_mobileArrow {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar__menu .services__dropdown_tab > li {
  width: calc(50% - 25px);
}
@media screen and (max-width: 1200px) {
  .navbar__menu .services__dropdown_tab > li {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 860px) {
  .navbar__menu .services__dropdown_tab > li {
    width: 100%;
  }
}
.navbar__menu .services__dropdown_tab_link {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 160%;
  color: #000000;
  transition: 0.2s;
  position: relative;
  padding: 6px 0;
  padding-right: 16px;
}
@media screen and (max-width: 1350px) {
  .navbar__menu .services__dropdown_tab_link {
    padding-right: 0;
  }
}
@media screen and (max-width: 860px) {
  .navbar__menu .services__dropdown_tab_link {
    font-size: 12px;
  }
}
.navbar__menu .services__dropdown_tab_link::before {
  content: "";
  display: block;
  width: 7px;
  height: 10px;
  background: #88BD6F;
  border-radius: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.2s;
  opacity: 0;
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 0% 0%);
}
.navbar__menu .services__dropdown_tab_link:hover {
  padding-left: 16px;
  transition: 0.2s;
  color: #88BD6F;
  padding-right: 0;
}
.navbar__menu .services__dropdown_tab_link:hover::before {
  opacity: 1;
  transform: 0.2s;
}
.navbar__menu_link {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding-bottom: 15px;
}
@media screen and (max-width: 1140px) {
  .navbar__menu_link {
    font-size: 13px;
  }
}
@media screen and (max-width: 980px) {
  .navbar__menu_link {
    font-size: 12px;
  }
}
@media screen and (max-width: 860px) {
  .navbar__menu_link {
    padding: 10px 0;
  }
  .navbar__menu_link:hover {
    color: #88BD6F;
  }
}
.navbar .burgerBtn {
  width: 32px;
  height: 21px;
  display: none;
}
@media screen and (max-width: 860px) {
  .navbar .burgerBtn {
    display: block;
  }
}
.navbar .burgerBtn__icon {
  display: block;
}

.footer {
  width: 100%;
  background: #F2F2F2;
}
.footer__top {
  display: flex;
  grid-gap: 20px;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 44px 15px 32px;
}
@media screen and (max-width: 1024px) {
  .footer__top {
    flex-direction: column;
    grid-gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .footer__top {
    padding: 24px 0;
    grid-gap: 24px;
  }
}
.footer__item, .footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .footer__item, .footer__contact {
    flex-direction: row;
    align-items: center;
    grid-gap: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__item-mobile {
    display: none;
  }
}
.footer__logo {
  display: block;
}
@media screen and (max-width: 1024px) {
  .footer__logo {
    display: flex;
    align-items: center;
    grid-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer__logo {
    margin: 0 auto;
    grid-gap: 12px;
  }
}
.footer__logo_img {
  display: block;
  margin-bottom: 12px;
}
@media screen and (max-width: 1024px) {
  .footer__logo_img {
    margin-bottom: 0;
  }
}
.footer__logo_text {
  display: block;
  font-size: 10px;
  line-height: 150%;
  text-transform: uppercase;
  color: #252628;
  max-width: 140px;
  font-weight: 800;
}
.footer__license {
  font-size: 14px;
  line-height: 180%;
  color: #252628;
}
@media screen and (max-width: 1024px) {
  .footer__license {
    display: grid;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .footer__license {
    display: none;
  }
}
.footer__list_title {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #949699;
  margin-bottom: 12px;
}
.footer__list_menu {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
}
.footer__list_menu_link {
  font-size: 14px;
  line-height: 180%;
  color: #252628;
}
@media screen and (max-width: 768px) {
  .footer__contact {
    flex-direction: column;
    grid-gap: 24px;
  }
}
.footer__contact_btns {
  display: flex;
  grid-gap: 48px;
}
@media screen and (max-width: 1100px) {
  .footer__contact_btns {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__contact_btns {
    flex-direction: column;
    grid-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer__contact_btns {
    grid-gap: 12px;
  }
}
.footer__contact_btns_diagnostic {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  font-size: 12px;
  line-height: 19px;
  color: #88BD6F;
  text-transform: uppercase;
  text-align: left;
  max-width: 160px;
  position: relative;
  font-weight: 600;
}
@media screen and (max-width: 1100px) {
  .footer__contact_btns_diagnostic {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__contact_btns_diagnostic {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .footer__contact_btns_diagnostic {
    margin: 0 auto;
  }
}
@media screen and (max-width: 580px) {
  .footer__contact_btns_diagnostic {
    font-size: 11px;
  }
}
.footer__contact_btns_diagnostic::before {
  content: "";
  display: block;
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #88BD6F;
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .footer__contact_btns_diagnostic::before {
    display: none;
  }
}
.footer__contact_btns_diagnostic::after {
  content: "";
  display: block;
  border-radius: 50%;
  border: 6px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .footer__contact_btns_diagnostic::after {
    display: none;
  }
}
.footer__contact_btns_diagnostic:hover::after {
  border: 4px solid #fff;
  width: 12px;
  height: 12px;
  transform: 0.2s;
  left: 14px;
}
.footer__contact_btns_diagnostic:focus::after {
  background: #225B51;
  transform: 0.2s;
}
.footer__contact_btns_appointment {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  font-size: 12px;
  line-height: 19px;
  color: #252628;
  text-transform: uppercase;
  text-align: left;
  max-width: 140px;
  position: relative;
  font-weight: 600;
}
@media screen and (max-width: 1100px) {
  .footer__contact_btns_appointment {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__contact_btns_appointment {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .footer__contact_btns_appointment {
    margin: 0 auto;
  }
}
@media screen and (max-width: 580px) {
  .footer__contact_btns_appointment {
    font-size: 11px;
  }
}
.footer__contact_btns_appointment::before {
  content: "";
  display: block;
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #252628;
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .footer__contact_btns_appointment::before {
    display: none;
  }
}
.footer__contact_btns_appointment::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 18px;
  width: 12px;
  height: 12px;
  background: #fff;
  -webkit-clip-path: polygon(0px 42%, 0px 58%, 42% 58%, 42% 100%, 42% 58%, 42% 100%, 58% 100%, 58% 58%, 100% 58%, 100% 42%, 58% 42%, 58% 0px, 42% 0px, 42% 42%);
          clip-path: polygon(0px 42%, 0px 58%, 42% 58%, 42% 100%, 42% 58%, 42% 100%, 58% 100%, 58% 58%, 100% 58%, 100% 42%, 58% 42%, 58% 0px, 42% 0px, 42% 42%);
  transform: translate(0, -50%);
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .footer__contact_btns_appointment::after {
    display: none;
  }
}
.footer__contact_btns_appointment:hover::after {
  width: 20px;
  height: 20px;
  left: 14px;
  transform: 0.2s;
}
.footer__contact_btns_appointment:active::after {
  background: #88BD6F;
  transform: 0.2s;
}
.footer__contact_content {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
}
@media screen and (max-width: 768px) {
  .footer__contact_content {
    grid-gap: 24px;
  }
}
.footer__contact_phone {
  display: flex;
  justify-content: flex-end;
  grid-gap: 20px;
}
@media screen and (max-width: 1100px) {
  .footer__contact_phone {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .footer__contact_phone {
    display: none;
  }
}
.footer__contact_phone_link {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #252628;
}
@media screen and (max-width: 1100px) {
  .footer__contact_phone_link {
    font-size: 16px;
  }
}
.footer__contact_email, .footer__contact_adress, .footer__contact_schedule {
  font-size: 14px;
  line-height: 180%;
  color: #252628;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .footer__contact_email, .footer__contact_adress, .footer__contact_schedule {
    font-size: 13px;
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  .footer__contact_email, .footer__contact_adress, .footer__contact_schedule {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .footer__contact_email {
    display: none;
  }
}
.footer__social {
  display: flex;
  justify-content: flex-end;
  grid-gap: 12px;
}
@media screen and (max-width: 1024px) {
  .footer__social {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .footer__social {
    flex-direction: row;
    justify-content: center;
  }
}
.footer__bottom {
  border-top: 1px solid #BDBDBD;
  padding: 24px 0 50px;
}
@media screen and (max-width: 768px) {
  .footer__bottom {
    padding: 24px 0 4px;
  }
}
.footer__bottom_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 768px) {
  .footer__bottom_content {
    flex-direction: column;
    grid-gap: 12px;
  }
}
.footer__bottom_text, .footer__bottom_link {
  font-size: 14px;
  color: #949699;
  display: flex;
  align-items: center;
  grid-gap: 8px;
}
@media screen and (max-width: 580px) {
  .footer__bottom_text, .footer__bottom_link {
    font-size: 12px;
  }
}
.footer__bottom_link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
@media screen and (max-width: 768px) {
  .footer__bottom_link {
    order: -1;
  }
}
.footer__bottom_text-circle {
  width: 12px;
  height: 12px;
  border: 1px solid #949699;
  border-radius: 50%;
  font-weight: 500;
  font-size: 8px;
  color: #949699;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__accordionsMobile {
  display: flex;
  grid-gap: 20px;
  display: none;
}
@media screen and (max-width: 1024px) {
  .footer__accordionsMobile {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .footer__accordionsMobile {
    flex-direction: column;
    grid-gap: 0;
  }
}
.footer__accordionsMobile_accordion {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08) !important;
}
.footer__accordionsMobile_btn {
  padding: 16px 12px !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 16px !important;
  text-transform: uppercase;
  text-align: left;
  color: #949699 !important;
  grid-gap: 20px;
}
@media screen and (max-width: 768px) {
  .footer__accordionsMobile_btn_arrow {
    width: 32px !important;
    height: 32px !important;
  }
}
.footer__accordionsMobile_content {
  padding: 0 12px;
  display: grid;
  grid-gap: 4px;
}
.footer__accordionsMobile_link {
  font-size: 14px;
  line-height: 180%;
}
.footer__accordionsMobile_link:last-child {
  padding-bottom: 15px;
}

@font-face {
  font-family: "montserrat", sans-serif;
  src: url("../font/Montserrat-Regular.ttf");
  src: url("../font/Montserrat-Medium.ttf");
  src: url("../font/Montserrat-SemiBold.ttf");
  src: url("../font/Montserrat-Bold.ttf");
  src: url("../font/Montserrat-ExtraBold.ttf");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  color: #252628;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

main {
  height: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

textarea,
select,
input,
button {
  border: none;
  outline: none;
  background: none;
}

select,
button {
  cursor: pointer;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.scrollUp {
  position: fixed;
  bottom: 132px;
  right: calc((100vw - 1350px) / 4);
  width: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 24px;
  display: none;
}
@media screen and (max-width: 1500px) {
  .scrollUp {
    bottom: 80px;
  }
}
.scrollUp__link::after {
  content: "";
  display: block;
  width: 2.5px;
  margin: -1px auto 0;
  height: 0;
  background: #88BD6F;
  transition: 0.2s;
}
.scrollUp:hover .scrollUp__link::after {
  height: 15px;
  transition: 0.2s;
}
.scrollUp__arrow {
  width: 100%;
  display: block;
}
.scrollUp__text {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: rotate(-90deg);
  margin-top: 24px;
}
@media screen and (max-width: 1500px) {
  .scrollUp__text {
    display: none;
  }
}
@media screen and (max-width: 1580px) {
  .scrollUp {
    right: 30px;
  }
}

.crumbs {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 64px 15px 0;
  display: flex;
  grid-gap: 32px;
}
@media screen and (max-width: 1100px) {
  .crumbs {
    padding-top: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .crumbs {
    padding-top: 55px;
  }
}
@media screen and (max-width: 900px) {
  .crumbs {
    padding-top: 50px;
  }
}
@media screen and (max-width: 800px) {
  .crumbs {
    padding-top: 45px;
  }
}
@media screen and (max-width: 700px) {
  .crumbs {
    padding-top: 40px;
  }
}
@media screen and (max-width: 580px) {
  .crumbs {
    padding: 35px 12px 0;
  }
}
@media screen and (max-width: 500px) {
  .crumbs {
    padding: 30px 12px 0;
  }
}
.crumbs__link {
  position: relative;
  font-size: 12px;
  color: #949699;
}
.crumbs__link::before {
  position: absolute;
  content: "";
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #949699;
  border-radius: 1px;
  cursor: auto;
}
.crumbs__link:first-child::before {
  display: none;
}
.crumbs__link:last-child::before {
  border-left: 7px solid #88BD6F;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(37, 38, 40, 0.1254901961);
  z-index: 1093;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.modal.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.modal.active .modal__content {
  top: 0;
  transition: 0.3s;
}
.modal__content {
  padding: 64px 80px;
  background: #fff;
  max-width: 660px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18px 30px;
  position: relative;
  top: -100vh;
  transition: 0.3s;
}
@media screen and (max-width: 800px) {
  .modal__content {
    padding: 50px 60px;
  }
}
@media screen and (max-width: 700px) {
  .modal__content {
    padding: 40px 50px;
  }
}
@media screen and (max-width: 580px) {
  .modal__content {
    padding: 40px 40px 30px 20px;
    grid-gap: 10px 0px;
  }
}
.modal__title {
  grid-column: 1/3;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  text-transform: uppercase;
  color: #252628;
}
@media screen and (max-width: 900px) {
  .modal__title {
    font-size: 27px;
  }
}
@media screen and (max-width: 800px) {
  .modal__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 700px) {
  .modal__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 580px) {
  .modal__title {
    font-size: 20px;
    margin-bottom: 0px;
  }
}
.modal__inp, .modal__select select, .modal__lab_inp {
  width: 100%;
  grid-column: 1/3;
  font-size: 14px;
  line-height: 180%;
  color: #252628;
  padding: 12px 0;
  border-bottom: 1px solid #252628;
}
@media screen and (max-width: 580px) {
  .modal__inp, .modal__select select, .modal__lab_inp {
    padding: 6px 0;
    line-height: 160%;
  }
}
.modal__inp::-moz-placeholder, .modal__select select::-moz-placeholder, .modal__lab_inp::-moz-placeholder {
  font-size: 14px;
  line-height: 180%;
  color: #252628;
}
.modal__inp:-ms-input-placeholder, .modal__select select:-ms-input-placeholder, .modal__lab_inp:-ms-input-placeholder {
  font-size: 14px;
  line-height: 180%;
  color: #252628;
}
.modal__inp::placeholder, .modal__select select::placeholder, .modal__lab_inp::placeholder {
  font-size: 14px;
  line-height: 180%;
  color: #252628;
}
.modal__lab {
  display: block;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 580px) {
  .modal__lab {
    grid-column: 1/3;
  }
}
.modal__lab_icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.modal__select {
  grid-column: 1/3;
  position: relative;
}
.modal__select option:first-child {
  display: none;
}
.modal__close {
  position: absolute;
  top: 48px;
  right: 48px;
}
@media screen and (max-width: 580px) {
  .modal__close {
    top: 10px;
    right: 30px;
    width: 20px;
    height: 20px;
  }
}
.modal__close_icon {
  display: block;
  width: 100%;
}
.modal__footer {
  margin-top: 18px;
  grid-column: 1/3;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
@media screen and (max-width: 580px) {
  .modal__footer {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-top: 12px;
  }
}
.modal__footer_send {
  max-width: 235px;
  display: flex;
  align-items: center;
  grid-gap: 16px;
  padding: 5px 25px 5px 5px;
  background: #252628;
  border-radius: 37px;
  position: relative;
  font-weight: 600;
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
}
@media screen and (max-width: 580px) {
  .modal__footer_send {
    max-width: 180px;
    grid-gap: 10px;
    font-size: 12px;
  }
}
.modal__footer_send::before {
  content: "";
  display: block;
  min-width: 64px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  transition: 0.2s;
}
@media screen and (max-width: 580px) {
  .modal__footer_send::before {
    min-width: 50px;
    width: 50px;
    height: 50px;
  }
}
.modal__footer_send::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 31px;
  width: 12px;
  height: 12px;
  background: #252628;
  -webkit-clip-path: polygon(0px 42%, 0px 58%, 42% 58%, 42% 100%, 42% 58%, 42% 100%, 58% 100%, 58% 58%, 100% 58%, 100% 42%, 58% 42%, 58% 0px, 42% 0px, 42% 42%);
          clip-path: polygon(0px 42%, 0px 58%, 42% 58%, 42% 100%, 42% 58%, 42% 100%, 58% 100%, 58% 58%, 100% 58%, 100% 42%, 58% 42%, 58% 0px, 42% 0px, 42% 42%);
  transform: translate(0, -50%);
  transition: 0.1s;
}
@media screen and (max-width: 580px) {
  .modal__footer_send::after {
    left: 24px;
  }
}
.modal__footer_send:hover::before {
  transition: 0.2s;
  background: #88BD6F;
}
.modal__footer_send:active::after {
  width: 20px;
  height: 20px;
  left: 27px;
  transition: 0.1s;
}
@media screen and (max-width: 580px) {
  .modal__footer_send:active::after {
    width: 18px;
    height: 18px;
    left: 25px;
  }
}
.modal__footer_text {
  font-size: 12px;
  line-height: 160%;
  color: #949699;
}

.accordion {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 20px 5px 45px rgba(0, 0, 0, 0.05);
}
.accordion__btn {
  padding: 42px 32px 42px 64px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  transition: 0.2s linear;
}
@media screen and (max-width: 900px) {
  .accordion__btn {
    padding: 42px 28px 42px 60px;
  }
}
@media screen and (max-width: 800px) {
  .accordion__btn {
    padding: 35px 24px 35px 50px;
    font-size: 22px;
  }
}
@media screen and (max-width: 700px) {
  .accordion__btn {
    padding: 30px 20px 30px 40px;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .accordion__btn {
    padding: 25px 15px 25px 30px;
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .accordion__btn {
    padding: 15px 10px 15px 15px;
    font-size: 17px;
  }
}
.accordion__btn.active .accordion__btn_arrow {
  transform: rotate(180deg);
}
.accordion__btn_arrow {
  width: 48px;
  height: 48px;
}
@media screen and (max-width: 600px) {
  .accordion__btn_arrow {
    width: 38px;
    height: 38px;
  }
}
@media screen and (max-width: 500px) {
  .accordion__btn_arrow {
    width: 32px;
    height: 32px;
  }
}
.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.accordion__content_text {
  padding: 20px 32px 20px 64px;
  border-top: 1px solid rgb(239, 220, 220);
  font-size: 18px;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 900px) {
  .accordion__content_text {
    padding: 20px 28px 20px 60px;
  }
}
@media screen and (max-width: 800px) {
  .accordion__content_text {
    padding: 20px 24px 20px 50px;
  }
}
@media screen and (max-width: 700px) {
  .accordion__content_text {
    padding: 20px 20px 20px 40px;
  }
}
@media screen and (max-width: 580px) {
  .accordion__content_text {
    padding: 15px 15px 15px 30px;
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .accordion__content_text {
    padding: 15px 10px 15px 15px;
    font-size: 14px;
  }
}

.rent {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 12px 15px 0;
}
@media screen and (max-width: 580px) {
  .rent {
    padding: 12px 12px 0;
  }
}
.rent__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  color: #000;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .rent__title {
    font-size: 32px;
    line-height: 140%;
  }
}
@media screen and (max-width: 900px) {
  .rent__title {
    font-size: 28px;
  }
}
@media screen and (max-width: 800px) {
  .rent__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 700px) {
  .rent__title {
    font-size: 20px;
  }
}
.rent__text {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  grid-gap: 26px;
}
@media screen and (max-width: 1200px) {
  .rent__text {
    margin-top: 45px;
  }
}
@media screen and (max-width: 1100px) {
  .rent__text {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .rent__text {
    margin-top: 35px;
  }
}
@media screen and (max-width: 900px) {
  .rent__text {
    margin-top: 30px;
  }
}
@media screen and (max-width: 800px) {
  .rent__text {
    margin-top: 25px;
  }
}
@media screen and (max-width: 700px) {
  .rent__text {
    margin-top: 20px;
  }
}
.rent__text_paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
}
.rent__content {
  padding-top: 80px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 32px;
}
@media screen and (max-width: 1200px) {
  .rent__content {
    padding-top: 70px;
    padding-bottom: 110px;
    grid-column-gap: 27px;
  }
}
@media screen and (max-width: 1100px) {
  .rent__content {
    padding-top: 65px;
    padding-bottom: 100px;
    grid-column-gap: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .rent__content {
    padding-top: 60px;
    padding-bottom: 90px;
    grid-column-gap: 20px;
  }
}
@media screen and (max-width: 900px) {
  .rent__content {
    padding-top: 55px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 800px) {
  .rent__content {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 700px) {
  .rent__content {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 600px) {
  .rent__content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 550px) {
  .rent__content {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  .rent__content {
    padding-bottom: 40px;
  }
}
.rent__desc {
  display: flex;
  align-items: center;
  box-shadow: 20px 5px 45px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 1024px) {
  .rent__desc {
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  .rent__desc {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.05);
  }
}
@media screen and (max-width: 425px) {
  .rent__desc {
    max-width: 100%;
  }
}
.rent__desc_photo {
  width: 100%;
  max-width: 315px;
  max-height: 315px;
}
@media screen and (max-width: 550px) {
  .rent__desc_photo {
    max-height: 220px;
  }
}
@media screen and (max-width: 425px) {
  .rent__desc_photo {
    max-height: 170px;
  }
}
.rent__desc_photo-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rent__desc_info {
  width: 100%;
  padding: 10px 28px;
}
@media screen and (max-width: 1200px) {
  .rent__desc_info {
    padding: 10px 22px;
  }
}
@media screen and (max-width: 1100px) {
  .rent__desc_info {
    padding: 10px 18px;
  }
}
@media screen and (max-width: 1024px) {
  .rent__desc_info {
    text-align: center;
  }
}
.rent__desc_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}
@media screen and (max-width: 600px) {
  .rent__desc_title {
    font-size: 22px;
  }
}
@media screen and (max-width: 550px) {
  .rent__desc_title {
    font-size: 18px;
  }
}
.rent__desc_text {
  padding: 8px 0 12px;
  border-bottom: 1px solid #E0E0E0;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #949699;
}
.rent__desc_term {
  display: inline-block;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #949699;
}
.rent__desc_days {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
.rent__desc_btns {
  width: 100%;
  padding-top: 24px;
  display: flex;
  grid-gap: 24px;
}
@media screen and (max-width: 1200px) {
  .rent__desc_btns {
    grid-gap: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .rent__desc_btns {
    grid-gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .rent__desc_btns {
    justify-content: center;
  }
}
.rent__desc_order {
  display: block;
  width: 100%;
  padding: 22px 10px;
  max-width: 169px;
  text-align: center;
  background: #252628;
  border-radius: 32px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .rent__desc_order {
    max-width: 140px;
    padding: 16px 10px;
  }
}
@media screen and (max-width: 550px) {
  .rent__desc_order {
    max-width: 120px;
    padding: 12px 10px;
    font-size: 10px;
  }
}
.rent__desc_play {
  position: relative;
  min-width: 64px;
  min-height: 64px;
  border-radius: 50%;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 600px) {
  .rent__desc_play {
    min-width: 45px;
    min-height: 45px;
  }
}
@media screen and (max-width: 550px) {
  .rent__desc_play {
    min-width: 35px;
    min-height: 35px;
  }
}
.rent__desc_play::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #88BD6F;
}/*# sourceMappingURL=rent.css.map */